body {
  padding-top: 20px;
  padding-bottom: 20px;
}

.navbar {
  margin-bottom: 20px;
}

.link {
    display: block;
    /*border: 1px dotted red;
    margin: 0 5px;*/
    text-decoration: underline;
    
}
